body{
  background-color: navy;
}
.navbar.bg-body-tertiary {
  background-color: navy !important;
}

.navbar-brand img {
  height: 55px;
  width: auto;
  display: block;
  object-fit: contain;
}
.btn {
 color: #f1c708 !important;
  border: none !important;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background-color: #e6c71b !important;
  color: #000000 !important;
}



